.container {
    display: flex;
    align-items: stretch;
    width: 350px;
    height: 350px;
}

.column {
    flex-grow:1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.box {
    border:1px solid black; 
    flex-grow:1;
}


