.container {
    display: flex;
    align-items: stretch;
    width: 350px;
    height: 350px;
    border:1px solid black; 
}

.column {
    flex-grow:1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.box {
    flex-grow:1;
}

.touched {
    background-color: blue;
}


